LOOKER_METADATA_EXTRACTOR_HEADLESS=true
LOOKER_METADATA_EXTRACTOR_AUTH_USERNAME="username"
LOOKER_METADATA_EXTRACTOR_AUTH_PASSWORD="password"

LOOKER_METADATA_EXTRACTOR_NAVIGATOR=handshake
LOOKER_METADATA_EXTRACTOR_AUTH_URL=https://school.joinhandshake.edu/login
LOOKER_METADATA_EXTRACTOR_COOKIE_URL=https://school.joinhandshake.edu
